.card {
  
    display: inline-block;
    position: relative;
    
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    border-radius: 10px;
  }
  .card-title{
    background: rgba(0,0,0,0.8);
    color: #fff;
    transition: opacity .5s;
    opacity: 0;
    position: absolute;
    top: 0em; bottom: 1em; left: 0em; right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius:10px;
  }
  .card:hover .card-title  {
    opacity: 1;
    
  }
  .card-img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
  }
 